In [ ]:
print(type("True"))

<class 'str'>

In [ ]:
# 동일한 코드
a = []
a.append(1)
b = []
b.append(1)
print(a)
print(b)

[1]
[1]

In [ ]:
a += "abe"
print(a)

b += ["abe"]
print(b)

[1, 'a', 'b', 'e', 'a', 'b', 'e']
[1, 'abe']

In [ ]:
loss_history = []
loss = 1
loss_history += [loss]
loss = 0.5
loss_history += [loss]
loss = 0.1
loss_history += [loss]
print(loss_history)

[1, 0.5, 0.1]

In [ ]:
for i in range(1,5):
  for j in range(i):
    print("*", end = "")
  print(" ")

*
**
***
****

In [ ]:
a = "*"
for i in range(1, 5):
  print(a * i)

*
**
***
****

In [ ]:
i = 1
while i < 5:
  print("*" * i)
  i += 1

*
**
***
****

In [ ]:
a = [1, 2, 3]
print(len(a))

3

In [ ]:
# 추가를 여러개 하고 싶으면?
a.append([4,5])
print(a)

[1, 2, 3, [4, 5]]

In [ ]:
a.extend([4,5])
print(a)

[1, 2, 3, [4, 5], 4, 5]

In [ ]:
a = [1, 2, 3]
a += [4, 5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트 중간에 값 넣기
a = [1, 2, 3]
a.insert(1, 100) #index, 넣을 것
print(a)

[1, 100, 2, 3]

In [ ]:
# 리스트 중간에 값 넣기
a = [1, 2, 3]
a.insert(1, [100, 200])
print(a)

[1, [100, 200], 2, 3]

In [ ]:
# 리스트 중간에 값 넣기
a = [1, 2, 3]
b = [100, 200]
a[1:1] = b
print(a)

[1, 100, 200, 2, 3]

In [ ]:
a = [1, 2, 3]
b = [100, 200]
a[1:2] = b
print(a)

[1, 100, 200, 3]

In [ ]:
a = [1, 2, 3]
a.pop()
a.pop()
print(a)

[1]

In [ ]:
# 중복되어 있으면 왼쪽부터 없앰
a = [1,2,3,4,5,3,5,3]
a.remove(3)
a.remove(3)
a.remove(3)
print(a)

[1, 2, 4, 5, 5]

In [ ]:
a = [1,2,3,4,5,3,5,3]
a.index(3)

2

In [ ]:
a = [1,2,3,2,2,2]
a.count(2)

4

In [ ]:
a = [1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
# 정렬
a = [1,5,2,7,34,2]
a.sort()
print(a)
a.sort(reverse= True)
print(a)

[1, 2, 2, 5, 7, 34]
[34, 7, 5, 2, 2, 1]

In [ ]:
# 내용 초기화
a = [1,2,3]
a.clear()

# 정의 자체를 없애버림
a = [1,2,3]
del a
print(a)

NameError: ignored

In [ ]:
a = [1,2,3]
b = a
b[1] = 10
print("a =",a,"b =",b)
a is b

a = [1, 10, 3] b = [1, 10, 3]

True

In [ ]:
# 값만 같고 다른 존재
a = [1,2,3]
b = a.copy()
b[1] = 10
print("a =",a,"b =",b)
a is b # is 결과가 True면 값이 같이 바뀐다.

a = [1, 2, 3] b = [1, 10, 3]

False

In [ ]:
a = [1, 2, 3]
print(min(a))
print(max(a))
print(round(1.515162632,3))

1
3
1.515

리스트 표현식

In [ ]:
a = [i for i in range(5)] # range(5) 안의 각각의 값들을 i라는 이름으로 각각 불러오고 i값으로 리스트를 형성

[0, 1, 2, 3, 4]

In [ ]:
a = [i+5 for i in range(5)]
print(a)
a += [10]
print(a)

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]

In [ ]:
b = [1,2,3,4,5]
a=[i+5 for i in b]
print(a)

[6, 7, 8, 9, 10]

In [ ]:
a = [i*2 for i in range(5)]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a = [i**2 for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [ ]:
a = [i-j for i in range(1,5) for j in range(1,5)]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [ ]:
a = []
for i in range(1,5):
  for j in range(1,5):
    a += [i-j]
print(a)

[0, -1, -2, -3, 1, 0, -1, -2, 2, 1, 0, -1, 3, 2, 1, 0]

In [ ]:
a = [i for i in range(10) if i%2==0] #range(10)안의 각각의 값들을 i라는 이름으로 각각 불러오고 i마다 조건문을 보고 True일 때만 i값으로 리스트 형성
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a = []
for i in range(10):
  if i%2 == 0:
    a+=[i]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a = [i for i in range(10) if i<5]
print(a)

[0, 1, 2, 3, 4]

리스트 속에 리스트

In [ ]:
a = [[1,2,3],[4,6]]
print(a, len(a))

b = [[2,3,4],[1,2,3]]
print(b, len(b))

[[1, 2, 3], [4, 6]] 2
[[2, 3, 4], [1, 2, 3]] 2

In [ ]:
a = [[1,2,3],[4,6]]
print(a[0])
print(a[1])
print(a[0][0])
a[0][0]= 500
print(a)

[1, 2, 3]
[4, 6]
1
[[500, 2, 3], [4, 6]]

In [ ]:
a = [[1,2,3],[4,5,6]]
for i in a:
  print(i)
print()

# 개수가 동일할 때
for x,y,z in a:
  print(x,y,z)
print()

for i in a:
  for j in i:
    print(j, end = " ")
  print()
print()

# 개수가 동일하지 않을 때
for i in range(len(a)):
  for j in range(len(a[i])): # i번째 행이 가지는 열의 개수
    print(a[i][j], end = " ")
  print()

[1, 2, 3]
[4, 5, 6]

1 2 3
4 5 6

1 2 3
4 5 6

1 2 3
4 5 6

In [ ]:
a = []
for i in range(3):
  line = []
  for j in range(2):
    line += [0]
  a+= [line]
print(a)

# a = [0,0],[0,0],[0,0]

[[0, 0], [0, 0], [0, 0]]

In [ ]:
a = [[0 for _ in range(2)] for _ in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [ ]:
a = [[0]*2 for _ in range(3)]
print(a)

b = [[0]*2]*3
print(b)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]

In [ ]:
a = [3,1,3,2]
b = []
for i in a:
  line = []
  for j in range(i):
    line += [0]
  b+= [line]
print(b)
# [[0,0,0],[0],[0,0,0],[0,0]]

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [ ]:
a = [3,1,3,2]
b = [[0]* i for i in a]
print(b)
# [[0,0,0],[0],[0,0,0],[0,0]]

[[0, 0, 0], [0], [0, 0, 0], [0, 0]]

In [ ]:
a = [[1,2],[3,4]]
b = a.copy()
b[0][0] = 100
print(a,b)

[[100, 2], [3, 4]] [[100, 2], [3, 4]]

In [ ]:
# 2차원 배열 copy 방법 - softcopy, hardcopy 찾아보기
import copy
a = [[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0] = 100
print(a,b)

[[1, 2], [3, 4]] [[100, 2], [3, 4]]

헷갈리는 리스트 표현식 -> 앞에거부터 써내려가며 for문 만들기

In [ ]:
print([i for i in range(3) for j in range(3)])

a = []
for i in range(3):
  for j in range(3):
    a+= [i]
print(a)

[0, 0, 0, 1, 1, 1, 2, 2, 2]
[0, 0, 0, 1, 1, 1, 2, 2, 2]

print 응용

In [ ]:
a = 1
b = 2
c = "hyes"

print("a = {}, b = {}, c = {}".format(a,b,c))

a = 1, b = 2, c = hyes

In [ ]:
a = 1
b = 2
c = "hyes"

print("a = {num1}, b = {num2}, c = {str1}".format(str1=c, num1=a, num2=b))

a = 1, b = 2, c = hyes

In [ ]:
a = 1
b = 2
c = "hyes"

print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = hyes

텍스트 파일 만들고 쓰기

In [ ]:
import os
folder_name = "saved"
if not os.path.exists(folder_name):
  os.makedirs(folder_name)

with open("saved/Hello.txt","w") as f: # 열린채로 들여쓰기 있는 부분 실행
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")

In [ ]:
with open("saved/Hello.txt","r") as f:
  s = f.read()
print(s)
type(s)

Hello World
Hello World
Hello World
Hello World

str

In [ ]:
# 한줄씩 읽고 싶을 때
with open("saved/Hello.txt","r") as f:
  s = f.readline() # 한줄씩 리스트에 넣는다
  print(s)
len(s)

Hello World

12

In [ ]:
# 리스트 하나에 전체 다 넣기
with open("saved/Hello.txt","r") as f:
  s = f.readlines() # 한줄씩 리스트에 넣는다
  print(s)
len(s)

['Hello World\n', 'Hello World\n', 'Hello World\n', 'Hello World\n']

4

In [ ]:
# 한줄씩 읽고 싶을 때
with open("saved/Hello.txt","r") as f:
  for i in range(3):
    s = f.readline() # for문을 사용하여 한줄씩 읽는다
    print(s)
    type(s)

Hello World

Hello World

Hello World

In [ ]:
# 몇줄인지 모를 때
with open("saved/Hello.txt","r") as f:
  line = None # None으로 작성해야 공백("")과 구별되어 while이 돌아감
  while line != "":
    line = f.readline()
    s=f.readline()
    print(line, end ="")

Hello World
Hello World

튜플

In [ ]:
a = (1, "z", 3)
b = [1, 2, 3]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [ ]:
b = tuple(range(10))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
a = list(range(10))
b = tuple(range(10))

c = tuple(a)
d = list(b)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>

in은 있냐를 물어봄

In [ ]:
a = list(range(10))
b = tuple(range(10))
c = range(10)
print(1 in a)
print(15 in a)
print(1 not in b)
print(5 in c)

True
False
False
True

In [ ]:
s = "Hello"
print("h" in s)
print("H" in s)

False
True

리스트의 기본 연산과 인덱싱

In [ ]:
a = [1, 2, 3]
b = a + a
c = a * 3
d = a * (12//4)
e = a * int(12/4)
print(a)
print(b)
print(c)
print(d)
print(e)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
s = "hello"
s2 = ["hello"]
print(s,len(s), type(s))
print(s2,len(s), type(s2))

hello 5 <class 'str'>
['hello'] 5 <class 'list'>

In [ ]:
a = [1, 2, 3]
print(a[0])

1

In [ ]:
r = range(0, 10, 2)
print(r[0], r[1], r[2])

0 2 4

In [ ]:
a = [1, 2, 3]
a[0] = 3
a[1] = 5
a[2] = 10

print(a)

[3, 5, 10]

In [ ]:
# tuple은 값을 새로 넣을 수 없음
a = (1, 2, 3)
a[0] = 1 # immutable

TypeError: ignored

In [ ]:
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

슬라이스!! 중요

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[:7:2])
print(a[7::2])
print(a[::2])

[1, 3, 5, 7]
[8, 10]
[1, 3, 5, 7, 9]

In [ ]:
a = [[1, 2], [3, 4]]
print(a[::])
print(a[:])

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[1:3]
print(a)

[1, 4, 5]

딕셔너리

In [ ]:
# key : value 형태, 숫자 문잦 뭐든 키, 값으로 사용 가능
# 키에는 수정할 수 없는 튜플은 되고 리스트는 안됨
# 값에는 튜플도 되고 리스트도 됨

dic1 = {"a": 1, "b": 2, "c" : 3, 100: "inthyes" }

print(dic1["a"], dic1["b"], dic1[100])
print(len(dic1))
print(dic1.keys())
print(dic1.values())
print(dic1.items())

1 2 inthyes
4
dict_keys(['a', 'b', 'c', 100])
dict_values([1, 2, 3, 'inthyes'])
dict_items([('a', 1), ('b', 2), ('c', 3), (100, 'inthyes')])

In [ ]:
a = dict(zip(["a","b"],[1, 2]))
print(a)

b = list(zip(["a","b"],[1, 2]))
print(b)

{'a': 1, 'b': 2}
[('a', 1), ('b', 2)]

In [ ]:
dic1 = {"a": 1, "b": 2, "c": 3, "d": 4}
dic1["a"] = 100; dic1["b"] = 200; dic1["c"] = 300; dic1["d"] = 400
print(dic1)

dic1["e"] = "새로운 키"
print(dic1)

print("a" in dic1) # "a"라는 키가 있느냐
print(100 in dic1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': '새로운 키'}
True
False

함수

In [ ]:
def f(x): # x라는 이름의 변수를 입력으로 받아 x**2을 출력하는 f라는 이름의 함수를 정의해라
  return x**2

f(-2) # function call. print라는 함수를 여태 부른것이다.

4

In [ ]:
def say():
  print("Hello World!")

say()

Hello World!

In [ ]:
def add(a,b):
  print(a+b)
add(1,2)

3

In [ ]:
def add(a,b):
  return a+b

c = add(1,2)
print(c)

3

In [ ]:
def add(a,b):
  c = a+b # 로컬변수
  return c

add(1,2)
print(c)

NameError: ignored

In [ ]:
def f(a):
  a = 5

a = 3
f(a)
print(a)

# call by assignment
def f(x):
  x[0] = 5 # 내부에서 리스트 자체에 접근하면 (mutable하면 속 값이 변해서 밖에서도 변해있음)

a = [1, 2]
f(a)
print(a)

3
[5, 2]

In [ ]:
def add_sub(a, b):
  c = a + b
  d = a - b
  return c, d

x, y = add_sub(10, 20)
z = add_sub(10, 20) # 하나로 받으면? 튜플로 묶어서 줌
print(x, y)
print(z)

30 -10
(30, -10)

In [ ]:
def add(a, b):
  return a+b
def mul(a, b):
  return a*b

def show_addmul1(a,b):
  print(add(a,b))
  print(mul(a,b))

show_addmul1(10,20)

def show_addmul2(a,b):
  return(add(a,b), mul(a,b))

x = show_addmul2(10, 20)
print(x[0])
print(x[1])

30
200
30
200

In [ ]:
x = (10, 20)
print(x)

print(*x) # 언패킹
show_addmul1(*x)

(10, 20)
10 20
30
200

In [ ]:
def my_func(*a): # a는 튜플로 패킹되어있다.
  print(f"a에는 {a}가 들어가있다. 타입은 {type(a)}라고 한다.")

my_func()
my_func(1)
my_func(1, 2, 3, 4, 5)

a에는 ()가 들어가있다. 타입은 <class 'tuple'>라고 한다.
a에는 (1,)가 들어가있다. 타입은 <class 'tuple'>라고 한다.
a에는 (1, 2, 3, 4, 5)가 들어가있다. 타입은 <class 'tuple'>라고 한다.

In [ ]:
def my_func(*args): # args: arguments
  print(f"args에는 {args}가 들어가있다. 타입은 {type(args)}라고 한다.")
  for i in args:
    print(i)

my_func()
my_func(1)
my_func(1, 2, 3, 4, 5)

args에는 ()가 들어가있다. 타입은 <class 'tuple'>라고 한다.
args에는 (1,)가 들어가있다. 타입은 <class 'tuple'>라고 한다.
1
args에는 (1, 2, 3, 4, 5)가 들어가있다. 타입은 <class 'tuple'>라고 한다.
1
2
3
4
5

In [ ]:
def my_func(*args):
  for i in args:
    print(i)

my_func("1","2","3")
# 구독자 이름을 print하려는데 가벽적임

1
2
3

In [ ]:
def introduce(name, age, address):
  print(f"이름은 {name}이고 나이는 {age}살이고 사는데는 {address}이다.")

introduce("혜수",100,"한국")
introduce(name = "혜수",address = "한국", age = 100)

name = "hyesoo"
address = "한국"
age = 100
introduce(name = name, address = address, age = age)

이름은 혜수이고 나이는 100살이고 사는데는 한국이다.
이름은 혜수이고 나이는 100살이고 사는데는 한국이다.
이름은 hyesoo이고 나이는 40살이고 사는데는 한국이다.

In [ ]:
def introduce1(name, age, address):
  print(f"이름은 {name}이고 나이는 {age}살이고 사는데는 {address}이다.")


def introduce2(name, age = "비밀", address = "비밀"):
  print(f"이름은 {name}이고 나이는 {age}살이고 사는데는 {address}이다.")

# intorduce1(name = "hyesoo", age = 100) # error
introduce2(name = "hyesoo", age = 100) # 나머지는 디폴트값으로 출력

이름은 hyesoo이고 나이는 100살이고 사는데는 비밀이다.

In [ ]:
# def introduce3(age = "비밀", name, address = "비밀"): # 디폴트 값을 정할것들은 모두 뒤쪽에 작성.
#   print(f"이름은 {name}이고 나이는 {age}살이고 사는데는 {address}이다.")

def introduce4(name = "비밀", age = "비밀", address = "비밀"):
  print(f"이름은 {name}이고 나이는 {age}살이고 사는데는 {address}이다.")

introduce4()

이름은 비밀이고 나이는 비밀살이고 사는데는 비밀이다.

In [ ]:
d = {"name": "hyes", "age": 100, "address":"한국"}
print(*d) # 딕셔너리에 언패킹하면 키를 출력

introduce4(*d) # introduce4("name", "age", "address") 와 동일

print({**d})
introduce4(**d) # introduce4("name" = "hyesoo", "age" = 100, "address" = "한국") 과 동일

print(*(1,2,3))
print(**(1,2,3)) # 딕셔너리에 사용 가능

name age address
이름은 name이고 나이는 age살이고 사는데는 address이다.
{'name': 'hyes', 'age': 100, 'address': '한국'}
이름은 hyes이고 나이는 100살이고 사는데는 한국이다.
1 2 3

TypeError: ignored

In [ ]:
def my_func(**kwrgs): #kwargs: keyward arguments, 딕셔너리로 묶어 받는다
  print(f"k에는 {k}가 들어가있다. 타입은 {type(k)}라고 한다.")

my_func(name = "hyesoo")
my_func(name = "hyesoo", age= 100, address= "한국")

k에는 {'name': 'hyesoo'}가 들어가있다. 타입은 <class 'dict'>라고 한다.

In [ ]:
def introduce(**kwargs):
  if "name" in kwargs: # "name"이라는 key가 kwargs에 있다면
    print("이름은", kwargs["name"], "입니다.")
  if "age" in kwargs:
    print("나이는", kwargs["age"], "입니다.")
  if "address" in kwargs:
    print("주소는", kwargs["address"], "입니다.")

introduce(name = "hyesoo", age= 100, address= "한국")

introduce(name = "hyesoo") # 해당되지 않을 경우 아예 안뜨게 됨

이름은 hyesoo 입니다.
나이는 100 입니다.
주소는 한국 입니다.
이름은 hyesoo 입니다.

로컬변수와 글로벌변수

In [2]:
EPOCH = 2
BATCH = 5 # 글로벌 변수

def train(weight): # weight는 매개변수, weight는 0을 실행
  x = 1 # x는 로컬 변수
  for i in range(EPOCH): # 글로벌변수는 안에서도 사용 가능
    for j in range(BATCH):
      print(f"{i}번째 Epoch이며 {j}번째 batch 입니다.")
      weight += 1
  return weight
train(1)

0번째 Epoch이며 0번째 batch 입니다.
0번째 Epoch이며 1번째 batch 입니다.
0번째 Epoch이며 2번째 batch 입니다.
0번째 Epoch이며 3번째 batch 입니다.
0번째 Epoch이며 4번째 batch 입니다.
1번째 Epoch이며 0번째 batch 입니다.
1번째 Epoch이며 1번째 batch 입니다.
1번째 Epoch이며 2번째 batch 입니다.
1번째 Epoch이며 3번째 batch 입니다.
1번째 Epoch이며 4번째 batch 입니다.

11

In [4]:
def f():
  global x # 안에서 글로벌 변수를 만들 수 있다(밖에서는 굳이 gloabl을 안붙여도 됨
  x = 20
  print(x)
f()
print(x)

20
20

In [8]:
x = 10
def f():
  x = 100
  print(x)

f() # 로컬 변수 출력
print(x) # 글로벌 변수 출력

100
10

In [10]:
x = 10
def f():
  global x
  # print(x) # 여기에선 10
  x = 20
  print(x)

f()
print(x) # 글로벌이 변경

10
20
20

람다 표현식

In [11]:
def plus_ten(x):
  return x+10

plus_ten(10)

20

In [12]:
plus_ten = lambda x: x+10 # 입력 x, 출력 x+10
plus_ten(10)

20

In [13]:
(lambda x: x+10)(10)

20

In [17]:
def plus_ten(x):
  return x + 10

print(list(map(plus_ten, [1, 2, 3]))) # map은 함수를 입력으로 받는 함수
#넣을 것(list)을 여러번 call해서 값을 얻는다
print(list(map(lambda x : 10 + x, [1, 2, 3])))

[11, 12, 13]
[11, 12, 13]

In [18]:
f = lambda a, b : a+b
f(10,20)

30

In [20]:
f = lambda a, b : a+b
print(list(map(f, [1, 2, 3], [1, 2, 3])))

[2, 4, 6]

In [21]:
def add_1(a, b):
  c = 1
  return a + b + c
print(add_1(10, 20))

31

In [23]:
# lambda a, b : a + b + c # def안에서 변수 선언해서 쓸 수 있는데 lambda는 아님

31

In [29]:
def func(x):
  if x % 2 == 0:
    return 2 * x
  else:
    return x
print(list(map(func, [1, 2, 3, 4])))

f = lambda x : 2*x if x % 2 == 0 else x # 람다 표현식에서 if 사용할 경우 else도 필수로 사용
print(list(map(f,[1, 2, 3, 4])))

[1, 4, 3, 8]
[1, 4, 3, 8]

In [34]:
def func(x):
  if x == 1:
    return 2 * x
  elif x == 2:
    return 3 * x
  else:
    return x
print(list(map(func, [1, 2, 3, 4])))

f = lambda x : 2 * x if x == 1 else 3 * x if x == 2 else x
print(list(map(f,[1, 2, 3, 4])))

[2, 6, 3, 4]
[2, 6, 3, 4]

클래스

In [37]:
# 로봇을 만든다고 가정 -> 로봇의 키가 몇이고, 몸무게가 몇이고, 안녕이라고 말하면서 인사하는 기능이 있고 ..
# 클래스는 좀 큰 변수를 만든다고 보면 됨. a = 1은 숫자 한 개 들어간 변수
# a에 숫자 한 개도 넣고 리스트도 넣고 그것들을 가지고 기능을 하는 함수를 만들어 넣고 할 수 ㄴ없을까?
# 객체(object)지향(oriented) 프로그래밍(programming)
class Robot:
  def greeting(self): # method : class 내부의 함수, 첫 번째 매개변수는 무조건 self (인스턴스 자기 자신을 나타내는 것)
    print("Hello")

bot1 = Robot() # Robot이라는 클래스에 해당하는 instance 만들기 (실체화))
bot1.greeting() # '.'은 가지고 있는 정도의 의미

Hello

In [39]:
a = [1, 2, 3] # 인스턴스 생성
a.append(4) # a라는 이름의 인스턴스가 append라는 이름의 method를 실행
print(type(a)) # 모든 기반은 class 위에 위치함

<class 'list'>

In [41]:
class Robot:
  def __init__(self): #initialize라서 init, 인스턴스 생성 즉시 이 함수로 들어옴
  # 이 함수명은 약속된 이름임 (special method)
    print("__init__으로 들어옴")

bot1 = Robot() # 인슨턴스 만드는 동시에 __init__ 함수 실행

__init__으로 들어옴

In [46]:
class Robot:
  def __init__(self):
    self.sentence = "안녕"
    # self는 만들어진 인스턴스 자기자신을 가리킴
    # self.무엇 은 self 내부의 것(변수, 함수)을 가리킴
    # 클래스 내부의 변수는 속성(attribute)이라고 함

  def greeting(self):
    # print(sentence) # error!
    print(self.sentence)

bot1 = Robot()
bot1.greeting()

안녕

In [53]:
class Robot:
  def __init__(self, height, sentence): # 밖에서 넘어오는 매개변수 무조건 self 뒤에
    self.height = height # self.height는 클래스 내부에서 사용하기 위해 주머니에 넣은 것 (밖에서 들어온 height와는 다름)
    self.sentence = sentence
  def greeting(self):
    # print(sentence)
    print(f"제 키는 {self.height}이에요")

bot1 = Robot(180, "안녕")
bot1.greeting()
bot1.height -= 10
bot1.greeting()

bot2 = Robot(160, "하이")
bot2.greeting()
print(bot2.height, bot2.sentence)

제 키는 180이에요
제 키는 170이에요
제 키는 160이에요
160 하이

In [59]:
class Robot:
  def __init__(self, height, sentence):
    self.__height = height # 비공개로 만들고싶은 속성은 앞에 밑줄 두 개 추가
    self.  sentence = sentence
  def greeting(self):
    self.__height -= 10 # 클래스 내부에서 변경 가능
    print(f"제 키는 {self.__height}이에요")

bot1 = Robot(180, "hi")
bot1.greeting()
# print(bot1.__height) # error! self.height는 밖에서 접근이 안 됨
bot1.sentence = "바꾸기"
print(bot1.sentence)

제 키는 170이에요
바꾸기

In [64]:
# 상속 -> 효율화
class Robot: # 부모 클래스
  def greeting(self):
    print("로봇입니다")

class Study_bot(Robot): # Robot이라는 부모클래스로부터 상속받음 -> Robot이 가지는 함수 사용 가능
  def study(self):
    print("공부하는 로봇입니다")

bot = Study_bot()
bot.greeting() # 부모클래스의 함수도 사용 가능
bot.study()

로봇입니다
공부하는 로봇입니다

In [63]:
# 메서드 오버라이딩 (overrding)
class Robot:
  def greeting(self):
    print("로봇입니다")

class Study_bot(Robot):
  def greeting(self): # 부모의 greeting을 물려받았으나 여기서 다시 정의하면 덮어써버림
    super().greeting() # super()가 부모 클래스를 가리킴, 부모의 것을 이렇게 사용하는 것이 가능
    print("공부하는 로봇입니다") # 부모의 원래 기능은 유지, 거기에 덧붙이고 싶을 때 오버라이딩 사용 가능

bot1 = Study_bot()
bot1.greeting()

로봇입니다
공부하는 로봇입니다

In [68]:
class Robot:
  def func1(self):
    print("부모 클래스의 func1 실행")
    self.money = 100

class Study_bot(Robot):
  def func2(self):
    print("자식 클래스의 func2 실행")
    self.book = 10

bot1 = Study_bot()
bot1.func1() # 부모 함수를 실행해야 부모의 속성을 가져올 수 있음
bot1.func2()
print(bot1.book)
print(bot1.money)

부모 클래스의 func1 실행
자식 클래스의 func2 실행
10
100

In [70]:
# 딥러닝 코드에선 아래와 같은 코드를 많이 보게 됨
class Robot:
  def __init__(self):
    print("부모 클래스의 init 실행")
    self.money = 100
class Study_bot(Robot):
  def __init__(self):
    super().__init__()
    print("자식 클래스의 init 실행")
    self.book = 10

bot_parent = Robot()
print(bot_parent.money)

bot1 = Study_bot()
print(bot1.book)

print(bot1.money)

부모 클래스의 init 실행
100
부모 클래스의 init 실행
자식 클래스의 init 실행
10
100

In [74]:
class Robot:
  def __init__(self):
    print("부모 클래스의 init 실행")
    self.money = 100
class Study_bot(Robot):
  def func2(self): # 자식 클래스에 __init__이 없다면 부모 클래스의 __init__이 자동 호출
    # super().__init__()
    print("자식 클래스의 init 실행")
    self.book = 10

bot1 = Study_bot()
bot1.func2()
print(bot1.book)
print(bot1.money)

부모 클래스의 init 실행
자식 클래스의 init 실행
10
100

In [78]:
class Robot:
  def greeting(self):
    print("로봇입니다")

class Life:
  def eat(self):
    print("냠냠")

class Study_bot(Robot, Life):
  def study(self):
    print("열심열심")

bot1 = Study_bot()
bot1.greeting()
bot1.eat()
bot1.study()

로봇입니다
냠냠
열심열심

In [81]:
# 알쏭달쏭 다이어몬드 상속
class A:
  def greeting(self):
    print("A")

class B(A):
  def greeting(self):
    print("B")

class C(A):
  def greeting(self):
    print("C")

class D(B, C): # 가장 왼쪽것의 greeting을 사용하게 된다.
  def __init__(self):
    print("D")

x = D()
x.greeting()

D
B

이터레이터

In [87]:
a = [1, 2, 3]
a_it = iter(a)
print(type(a_it))
print(next(a_it))
print(next(a_it))
print(next(a_it))
# print(next(a_it)) # 다 꺼내면 error!

<class 'list_iterator'>
1
2
3

StopIteration: ignored

In [89]:
for i in iter([1, 2, 3]):
  print(i)

a = [1, 2, 3]
next(iter(a)) # list가 아닌 것을 iter로 바꿔서 하나씩 출력하기 편함 (한스푼 떠먹기 좋음)

1
2
3

1